#### Libraries Dataset

In [10]:
#import libraries 
import pandas as pd
import numpy as np
import folium

#### Load Dataset

In [11]:
#Population density dataset
df = pd.read_excel('pddk_jkt_2019.xlsx')

#Stores Dataset from Google Places API
df_stores = pd.read_excel('stores_df2.xlsx')

#### Data Cleaning for the density and stores dataset

In [12]:
df.head()

,Tahun,nama_provinsi,nama_kabupaten/kota,nama_kecamatan,nama_kelurahan,luas_wilayah_km,kepadatan_jiwa_per_km
0,2019,PROVINSI DKI JAKARTA,JAKARTA BARAT,GROGOL PETAMBURAN,WIJAYA KUSUMA,2.20000,22010
1,2019,PROVINSI DKI JAKARTA,JAKARTA UTARA,TANJUNG PRIOK,WARAKAS,1.08840,52102
2,2019,PROVINSI DKI JAKARTA,JAKARTA PUSAT,KEMAYORAN,UTAN PANJANG,0.54025,69559
3,2019,PROVINSI DKI JAKARTA,JAKARTA TIMUR,MATRAMAN,UTAN KAYU UTARA,1.07400,32374
4,2019,PROVINSI DKI JAKARTA,JAKARTA TIMUR,MATRAMAN,UTAN KAYU SELATAN,1.12220,36493

In [13]:
df_stores.columns

Index(['Unnamed: 0', 'store_name', 'store_address', 'store_lat', 'store_long',
       'duplicator'],
      dtype='object')

In [14]:
def store_name_replacer(input):
    if "Alfamart" in input or "alfamart" in input:
        return "Alfamart"
    else:
        return "Indomaret"

In [15]:
df_stores['str_name'] = df_stores['store_name'].apply(store_name_replacer)

In [16]:
df_stores

,Unnamed: 0,store_name,store_address,store_lat,store_long,duplicator,str_name
0,0,Alfamart,"Jl Semeru Ry No.16, Kel No.010, RT.1/RW.9, Gro...",-6.156734,106.795493,"AlfamartJl Semeru Ry No.16, Kel No.010, RT.1/R...",Alfamart
1,1,Alfamart,"Jl. Dr. Latumenten Blok A, No. A 1-2 Kel, RT.1...",-6.157374,106.791634,"AlfamartJl. Dr. Latumenten Blok A, No. A 1-2 K...",Alfamart
2,2,Alfamart,"Jl. Tmn Hrpn Idh Cc/14-15, Kel, RT.14/RW.7, Je...",-6.144067,106.787863,"AlfamartJl. Tmn Hrpn Idh Cc/14-15, Kel, RT.14/...",Alfamart
3,3,Alfamart Muwardi Grogol 310D,"RQPW+GQR, RT.9/RW.2, Grogol, Grogol petamburan...",-6.163632,106.796918,"Alfamart Muwardi Grogol 310DRQPW+GQR, RT.9/RW....",Alfamart
4,4,Alfamart,"Jl. Hadiah 1 Jl. Hadiah No.21, RT.10/RW.3, Jel...",-6.161603,106.784611,"AlfamartJl. Hadiah 1 Jl. Hadiah No.21, RT.10/R...",Alfamart
...,...,...,...,...,...,...,...
2574,15810,Indomaret Sultan Iskandar Muda,"Jl. Arteri Pd. Indah No.9, RT.8/RW.1, Kby. Lam...",-6.251183,106.781265,Indomaret Sultan Iskandar MudaJl. Arteri Pd. I...,Indomaret
2575,16197,Indomaret Of Rawajati,"PVP2+VRH, Jl. Rawajati Timur, RT.7/RW.6, Rawaj...",-6.262810,106.852093,"Indomaret Of RawajatiPVP2+VRH, Jl. Rawajati Ti...",Indomaret
2576,16265,Indomaret,"Jalan Cipinang Timur No.43, RT.1/RW.11, Cipina...",-6.206382,106.893271,"IndomaretJalan Cipinang Timur No.43, RT.1/RW.1...",Indomaret
2577,17392,Indomaret Hybrid Cipinang Jaya,"Jl. Cipinang Jaya Raya No.25, RT.8/RW.7, Cipin...",-6.220714,106.886179,Indomaret Hybrid Cipinang JayaJl. Cipinang Jay...,Indomaret
2578,17395,Indomaret pahlawan revolusi 125 TJIZ,"Jl. Pahlawan Revolusi No.125, RT.8/RW.5, Pd. B...",-6.238216,106.899478,Indomaret pahlawan revolusi 125 TJIZJl. Pahlaw...,Indomaret

In [17]:
df_stores['str_name'].value_counts()

str_name
Indomaret    1408
Alfamart     1171
Name: count, dtype: int64

In [18]:
df_stores = df_stores.drop(columns=['store_name', 'duplicator','Unnamed: 0'])

In [19]:
df_stores

,store_address,store_lat,store_long,str_name
0,"Jl Semeru Ry No.16, Kel No.010, RT.1/RW.9, Gro...",-6.156734,106.795493,Alfamart
1,"Jl. Dr. Latumenten Blok A, No. A 1-2 Kel, RT.1...",-6.157374,106.791634,Alfamart
2,"Jl. Tmn Hrpn Idh Cc/14-15, Kel, RT.14/RW.7, Je...",-6.144067,106.787863,Alfamart
3,"RQPW+GQR, RT.9/RW.2, Grogol, Grogol petamburan...",-6.163632,106.796918,Alfamart
4,"Jl. Hadiah 1 Jl. Hadiah No.21, RT.10/RW.3, Jel...",-6.161603,106.784611,Alfamart
...,...,...,...,...
2574,"Jl. Arteri Pd. Indah No.9, RT.8/RW.1, Kby. Lam...",-6.251183,106.781265,Indomaret
2575,"PVP2+VRH, Jl. Rawajati Timur, RT.7/RW.6, Rawaj...",-6.262810,106.852093,Indomaret
2576,"Jalan Cipinang Timur No.43, RT.1/RW.11, Cipina...",-6.206382,106.893271,Indomaret
2577,"Jl. Cipinang Jaya Raya No.25, RT.8/RW.7, Cipin...",-6.220714,106.886179,Indomaret
2578,"Jl. Pahlawan Revolusi No.125, RT.8/RW.5, Pd. B...",-6.238216,106.899478,Indomaret

In [20]:
df_stores_alfamart = df_stores[df_stores['str_name']=='Alfamart']
df_stores_alfamart = df_stores_alfamart.reset_index(drop=True)
df_stores_alfamart

,store_address,store_lat,store_long,str_name
0,"Jl Semeru Ry No.16, Kel No.010, RT.1/RW.9, Gro...",-6.156734,106.795493,Alfamart
1,"Jl. Dr. Latumenten Blok A, No. A 1-2 Kel, RT.1...",-6.157374,106.791634,Alfamart
2,"Jl. Tmn Hrpn Idh Cc/14-15, Kel, RT.14/RW.7, Je...",-6.144067,106.787863,Alfamart
3,"RQPW+GQR, RT.9/RW.2, Grogol, Grogol petamburan...",-6.163632,106.796918,Alfamart
4,"Jl. Hadiah 1 Jl. Hadiah No.21, RT.10/RW.3, Jel...",-6.161603,106.784611,Alfamart
...,...,...,...,...
1166,"Jl. TB Simatupang Kp. Rambutan No.136, RT.11/R...",-6.307673,106.876462,Alfamart
1167,"Jl. Kramat Asem No.18, RT.8/RW.5, Utan Kayu Se...",-6.203616,106.870590,Alfamart
1168,"Jalan Raya Tengah No.5, RT.2/RW.3, Kampung Ged...",-6.295908,106.861111,Alfamart
1169,"RRX8+MP4, Jl. Pintu Besar Selatan-Hayam Wuruk,...",-6.150872,106.816817,Alfamart
1170,"Jl. Sutan Syahrir No.1C, RT.9/RW.2, Gondangdia...",-6.196425,106.837129,Alfamart

In [21]:
df_stores_indomaret = df_stores[df_stores['str_name']=='Indomaret']
df_stores_indomaret = df_stores_indomaret.reset_index(drop=True)
df_stores_indomaret

,store_address,store_lat,store_long,str_name
0,"RT.12/RW.6, South Tanjung Duren, Grogol petamb...",-6.179187,106.790562,Indomaret
1,"Jalan Dr. Marwadi No.23, RT.01 / RW.04, Grogol...",-6.164190,106.792166,Indomaret
2,"VV3Q+WP5, RT.10/RW.11, Sunter Jaya, Tanjung Pr...",-6.145232,106.889374,Indomaret
3,"Jl. Bina Husada No.c7, RT.7/RW.4, Sunter Jaya,...",-6.154999,106.867395,Indomaret
4,"3, Jl. Raya Kayu Tinggi No.6, RT.3/RW.9, Cakun...",-6.178360,106.948433,Indomaret
...,...,...,...,...
1403,"Jl. Arteri Pd. Indah No.9, RT.8/RW.1, Kby. Lam...",-6.251183,106.781265,Indomaret
1404,"PVP2+VRH, Jl. Rawajati Timur, RT.7/RW.6, Rawaj...",-6.262810,106.852093,Indomaret
1405,"Jalan Cipinang Timur No.43, RT.1/RW.11, Cipina...",-6.206382,106.893271,Indomaret
1406,"Jl. Cipinang Jaya Raya No.25, RT.8/RW.7, Cipin...",-6.220714,106.886179,Indomaret
1407,"Jl. Pahlawan Revolusi No.125, RT.8/RW.5, Pd. B...",-6.238216,106.899478,Indomaret

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 267 entries, 0 to 266
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Tahun                  267 non-null    int64
 1   nama_provinsi          267 non-null    object
 2   nama_kabupaten/kota    267 non-null    object
 3   nama_kecamatan         267 non-null    object
 4   nama_kelurahan         267 non-null    object
 5   luas_wilayah_km        267 non-null    float64
 6   kepadatan_jiwa_per_km  267 non-null    int64
dtypes: float64(1), int64(2), object(4)
memory usage: 14.7+ KB

In [23]:
df_stores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2579 entries, 0 to 2578
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   store_address  2579 non-null   object
 1   store_lat      2579 non-null   float64
 2   store_long     2579 non-null   float64
 3   str_name       2579 non-null   object
dtypes: float64(2), object(2)
memory usage: 80.7+ KB

In [24]:
df['Tahun'].value_counts()

Tahun
2019    267
Name: count, dtype: int64

In [25]:
df['nama_kelurahan'] = df['nama_kelurahan'].replace('WIJAYA KUSUMA', 'WIJAYA KESUMA')
df['nama_kelurahan'] = df['nama_kelurahan'].replace('JATIPULO', 'JATI PULO')
df['nama_kelurahan'] = df['nama_kelurahan'].replace('SETIA BUDI', 'SETIABUDI')
df['nama_kelurahan'] = df['nama_kelurahan'].replace('HALIM PERDANA KUSUMAH', 'HALIM PERDANA KUSUMA')
df['nama_kelurahan'] = df['nama_kelurahan'].replace('PULO GADUNG', 'PULOGADUNG')
df['nama_kelurahan'] = df['nama_kelurahan'].replace('PALMERIAM', 'PAL MERIAM')
df['nama_kelurahan'] = df['nama_kelurahan'].replace('PALMERIAM', 'PAL MERIAM')
df['nama_kelurahan'] = df['nama_kelurahan'].replace('JATI PADANG', 'JATIPADANG')
df['nama_kelurahan'] = df['nama_kelurahan'].replace('BALEKAMBANG', 'BALE KAMBANG')
df['nama_kelurahan'] = df['nama_kelurahan'].replace('PONDOK RANGGON', "PONDOK RANGON")
df['nama_kelurahan'] = df['nama_kelurahan'].replace('KALI BARU', 'KALIBARU')
df['nama_kelurahan'] = df['nama_kelurahan'].replace('KERENDANG', 'KRENDANG')
df['nama_kelurahan'] = df['nama_kelurahan'].replace('RAWA JATI', 'RAWAJATI')

In [26]:
bin_density = df['kepadatan_jiwa_per_km'].quantile([0,0.25,0.5,0.75,1])
bin_density

0.00     1080.0
0.25    12720.5
0.50    18696.0
0.75    30403.0
1.00    95676.0
Name: kepadatan_jiwa_per_km, dtype: float64

In [27]:
list_lat_alfamart = df_stores_alfamart['store_lat']
list_long_alfamart = df_stores_alfamart['store_long']
list_add_alfamart = df_stores_alfamart['store_address']

list_lat_indomaret = df_stores_indomaret['store_lat']
list_long_indomaret = df_stores_indomaret['store_long']
list_add_indomaret = df_stores_indomaret['store_address']

In [28]:
list_lat_alfamart

0      -6.156734
1      -6.157374
2      -6.144067
3      -6.163632
4      -6.161603
          ...
1166   -6.307673
1167   -6.203616
1168   -6.295908
1169   -6.150872
1170   -6.196425
Name: store_lat, Length: 1171, dtype: float64

In [ ]:
jakarta_map = folium.Map(
    location = [-6.208518524851216, 106.8444022635577],
    zoom_start = 12)

jakarta_geojson = r'jakarta_by_kelurahan_geo.geojson'

jkt_choro = folium.Choropleth(
    geo_data=jakarta_geojson,     #file geojson (data geospatial)
    data  = df,         #dataframe pandas
    columns = ['nama_kelurahan','kepadatan_jiwa_per_km'],  #dataframe column used
    key_on= 'feature.properties.name',  #for indexing purpose)
    bins = bin_density,
    legend_name = 'Population Density per km square')
    
jkt_choro.add_to(jakarta_map)
jakarta_map

In [ ]:
jakarta_map = folium.Map(
    location = [-6.208518524851216, 106.8444022635577],
    zoom_start = 12)

jakarta_geojson = r'jakarta_by_kelurahan_geo.geojson'

jkt_choro = folium.Choropleth(
    geo_data=jakarta_geojson,     #file geojson (data geospatial)
    data  = df,         #dataframe pandas
    columns = ['nama_kelurahan','kepadatan_jiwa_per_km'],  #dataframe column used
    key_on= 'feature.properties.name',  #for indexing purpose)
    bins = bin_density,
    legend_name = 'Population Density per km square')

for i in range(len(list_long_alfamart)):
    alfa_pin = folium.features.CustomIcon('alfamart.png', icon_size=(20,12))
    alfamart_pin = folium.Marker(location=[list_lat_alfamart[i], list_long_alfamart[i]],
                            tooltip='Alfamart',
                            popup='',
                            icon = alfa_pin)
    jakarta_map.add_child(alfamart_pin)    
#circle marker
    
for i in range(len(list_long_indomaret)):
    indo_pin = folium.features.CustomIcon('indomaret.png', icon_size=(20,12))
    indomaret_pin = folium.Marker(location=[list_lat_indomaret[i], list_long_indomaret[i]],
                            tooltip='Indomaret',
                            popup='',
                            icon = indo_pin)
    jakarta_map.add_child(indomaret_pin)    
    
jkt_choro.add_to(jakarta_map)
jakarta_map